:root {
    --modal-bg-color: #00000077;
    --modal-font-color: white;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

#modal>*{
    top:0;
    background-color:var(--modal-bg-color);
    position:fixed;
    z-index:1;
    color:var(--modal-font-color);
    width:100vw;
    height:100vh;
    margin:0 auto;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

#modal>*>p{
    margin:0auto;
}